---

---

<main class="main-container">
  <h1>Unleash Your Creative Vision</h1>
  <p class="description">
    Explore our suite of cutting-edge image generation tools. Transform ideas
    into stunning visuals with just a few clicks.
  </p>
  <a
    class="link-button"
    target="_blank"
    href="https://discord.com/invite/comuafor"
  >
    <span>Start Creating</span>
    <img
      src="/LinkIcon.svg"
      alt="link icon"
      class="link-icon"
      width="16px"
      height="16px"
    />
  </a>
</main>

<style is:global>
  .main-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 20;
  }

  button {
    background: #020617;
    color: white;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 200ms ease-out;
  }

  button:hover {
    background: #0f172a;
  }

  .link-button {
    color: #0f172a;
    text-underline-offset: 6px;
    text-decoration: 1px solid dotted;
    text-decoration-style: dotted;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .link-button:hover {
    color: #020617;
  }

  .link-icon {
    margin-left: 4px;
    transition: translate 0.3s ease;
  }

  .link-button:hover .link-icon {
    translate: 2px -2px;
  }

  h1 {
    font-size: 56px;
    font-weight: 800;
    color: #0f172a;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  /*
*/
  #root,
  #__next {
    isolation: isolate;
  }
</style>
